.new-file .select{
    max-height: 10px;
}

.stepper{
    margin: 1rem;
}


.file-page .description{
    margin: 1rem;
    margin-top: 1rem;
    background-color: whitesmoke;
    padding: 1rem;
}

.file-page .heading{
    font-weight: bolder;
}

.file-page .modal-title{
    font-size: 1.5rem;
    font-weight: bolder;
}

.file-page .desc-text{
    font-size: 1.2rem;
    color: teal;
}

.details{
    color: darkslategrey;
    font-size: 1.2rem;
}