.report-item{
    margin-bottom: 10rem;
}

.report-item .card{
    height: fit-content;
    border: 3px;
    border-style: ridge;
}

.report-item .label{
    color: black;
    font-size: 0.9rem;
    margin: 0.5rem;
    margin-left: 0;
}

.report-item .title{
    color: teal;
    font-weight: bold;
    font-size: 1.4rem;
    display: block;
    margin-bottom: 0;
}

.report-item .subtitle{
    color: darkslategray;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
}

.report-item .name{
    color: darkslategray;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
}

.report-item .col{
    max-height: 3.2rem;
}