.report-item {
    height: fit-content;
    background-color: whitesmoke;
    border: 3px;
    padding: 1%;
    margin: 1%;
    border-style: ridge;
}

.report-item .label{
    color: black;
    font-size: 0.9rem;
    margin: 0.5rem;
    margin-left: 0;
}

.report-item .title{
    color: teal;
    font-weight: bold;
    font-size: 1.4rem;
    display: block;
    margin-bottom: 0;
}

.report-item .subtitle{
    color: darkslategray;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
}

.report-item .name{
    color: darkslategray;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
}
